@import "./variables";

.crypto {
  position: absolute;
  border-left: 1px solid $light-gray;
  right: 0;
  z-index: 1;

  @media all and (min-width: $tablet) {
    position: relative;
    display: block;
  }
}

.crypto-item {
  border-top: 1px solid $divider;
}

.time-tab {
  border-bottom: 1px solid $divider;
}

.time-tab-item {
  border-right: 1px solid $divider;

  &:hover {
    color: $white;
  }
}
